@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to my PizzaBox</h1>
    <table>
        <tbody>
            <tr>
                <td style="color:forestgreen">
                    Easter
                </td>
            </tr>
            <tr>
                <td style="color:burlywood">
                    Egg
                </td>
            </tr>
        </tbody>
    </table>
</div>
